body, h1, h2, p, ul, li, a {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	color: #222222;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

/* fade-in / slide-up */



.fade-in-item {
  opacity: 0;
  transform: translateY(30px); 
  transition: opacity 1s ease, transform 1s ease; 
}


.fade-in-item.visible {
  opacity: 1;
  transform: translateY(0); 
}

